@import url('https://fonts.googleapis.com/css?family=Barlow');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('./font/fontello.css');

body {
  background-color: #2c3e50;
}

.card-question-placeholder,
.solution-card-placeholder {
  position: absolute;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  left: 0;
}

.card-question-placeholder {
  bottom: 440px;
}

.bottom tri-card-question {
  margin-bottom: 20px;
}

.racks-placeholder {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}